:root {
  --background-color: #f3f5f7;
  --primary-accent-color: #4338ca; /* Glavna ljubičasta */
  --secondary-accent-color: #1e1b4b; /* Tamno plava */
  --error-color: #d32f2f;
  --success-color: #388e3c;
  --blur-purple: #7857ff;
  --blur-blue: #4fadff;
  --blur-yellow: #f1b936;
  --blur-orange: #ff9100;
  --blur-gray: #cac8cf;
  --header-height: 80px; /* Visina headera */
  --header-max-width: 90rem;
  --content-padding-top: calc(var(--header-height) + 2rem);
  --content-padding-bottom: 2rem;
  --content-max-width: 80rem;
  --accent: var(--primary-accent-color, #1b0f3a);
  font-size: 16px;
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--secondary-accent-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}