.errorStage {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-accent-color);
  z-index: 0;
}

.errorPage {
  position: relative;
  width: 90rem; /* 1440px */
  height: 50.625rem; /* 810px */
  overflow: hidden;
  transform-origin: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Scaling for smaller viewports */
@media (max-width: 90rem), (max-height: 50.625rem) {
  .errorPage {
    --sx: calc(100vw / 90rem);
    --sy: calc(100vh / 50.625rem);
    --s: min(var(--sx), var(--sy));
    transform: scale(var(--s));
  }
}

.bg {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero404 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  z-index: 1;
  pointer-events: none;
}

.digit {
  color: var(--background-color);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 31.25rem;
  font-weight: 900;
  line-height: 1;
}

.dot {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background: var(--background-color);
  box-shadow: 0 0 100px 25px var(--background-color);
}

.image01, .image02 {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 2;
}

.image01 {
  width: 69.75rem;
  height: 22.5rem;
  object-fit: cover;
}

.image02 {
  width: 38.75rem;
  height: 41.25rem;
  object-fit: cover;
}

.gradient01, .gradient02 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  pointer-events: none;
  z-index: 2;
}

.gradient01 {
  height: 20rem;
  background: linear-gradient(0deg, var(--primary-accent-color) 0%, rgba(89, 31, 206, 0) 100%);
}

.gradient02 {
  height: 10rem;
  background: linear-gradient(0deg, var(--primary-accent-color) 0%, rgba(89, 31, 206, 0) 100%);
}

.contentWrapper {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem; /* Spacing between elements */
    padding-bottom: 3.12rem;
    width: 26.125rem;
}

.title, .desc, .under {
    color: var(--background-color);
    text-align: center;
    font-family: "Poppins", sans-serif;
    width: 100%;
}

.title {
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 1;
}

.desc {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
}

.cta {
    width: 100%;
    height: 2.8125rem;
    background: var(--background-color);
    color: var(--accent);
}

.under {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
}

.under a {
  color: var(--background-color);
  font-weight: 700;
  text-decoration: underline;
}

.logotype {
  position: fixed;
  left: 50%;
  top: 3.12rem;
  transform: translateX(-50%);
  width: 3.125rem;
  height: 1.875rem;
  object-fit: contain;
  z-index: 3;
}
