.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.pagination button {
  background-color: transparent;
  color: var(--primary-accent-color);
  border: 1px solid var(--primary-accent-color);
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;
}

.pagination button:disabled {
  color: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
}

.pagination button:not(:disabled):hover {
  background-color: var(--primary-accent-color);
  color: white;
}

.pagination span {
  margin: 0 1rem;
  font-weight: bold;
}